@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}


.scrollbar-thin::-webkit-scrollbar {
  width: 1px; 
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 2px; 
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-thin {
  scrollbar-width: thin; 
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; 
}


.toggle-switch {
  display: flex;
  align-items: center;
}


.toggle-switch input {
  display: none;
}

.toggle-switch .switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}


input:checked + .switch {
  background-color: #4caf50;
}

input:checked + .switch::before {
  transform: translateX(20px);
}
